*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0F172A;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    width:350px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.login-box h1{
    margin-bottom:30px;
    color:#D4AF37;
}

.login-box input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:2px solid #D4AF37;
    border-radius:10px;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:15px;
    margin-top:20px;
    background:#D4AF37;
    color:#0F172A;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.login-box button:hover{
    background:#c89b2c;
}
.dashboard{
    text-align:center;
    width:90%;
}

.dashboard h1{
    color:#D4AF37;
    margin-bottom:40px;
}

.dashboard-buttons{
    display:grid;
    gap:20px;
    max-width:400px;
    margin:auto;
}

.dashboard-buttons button{
    padding:18px;
    border:none;
    border-radius:10px;
    background:#D4AF37;
    color:#0F172A;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
